@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lexend-deca-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/lexend-deca-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lexend-deca-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lexend-deca-v17-latin-regular.svg#LexendDeca') format('svg'); /* Legacy iOS */
}
/* lexend-deca-500 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/lexend-deca-v17-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/lexend-deca-v17-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lexend-deca-v17-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lexend-deca-v17-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lexend-deca-v17-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lexend-deca-v17-latin-500.svg#LexendDeca') format('svg'); /* Legacy iOS */
}