*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #656565;
  border-radius: 10em;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Lexend Deca", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-display: swap;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* chatbot */

.rsc-container {
  background-color: #E0E0E0 !important;
  border-radius: 0 !important;
}

.rsc-header {
  -webkit-box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
}

.rsc-content {
  margin-top: 0 !important;
  padding: 0 8px;
}

.rsc-ts-image-container {
  display: none !important;
}

.rsc-ts-bubble {
  margin: 0 0 2px 0 !important;
}

.rsc-cs {
  background: transparent !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 20px 0 !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  
}